.bphoto{
	background-image: url(../images/bloom.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
}
.bphoto h1{
	font-size: 60px;
	color:   #0000ff;
	margin-bottom: 5px;
}
.button{
	text-decoration: none;
	font-size: 40px;
	border: black 1px solid;
	padding: 10px;
	background-color: white;
	border-radius: 10px;
	color:   #0000ff;
}
a:hover{
color: black;
background-color: white;
}
.leftcol{
	float: left;
	background-color:   #cc00ff;
	width: 50%;
	border: black 2px solid;
}
.rightcol{
	float: right;
	background-color:   #6600ff;
	width: 45%;
	border: black 2px solid;
}
.button1{
	text-decoration: none;
	font-size: 40px;
	border: black 1px solid;
	padding: 10px;
	background-color: rgba(255, 153, 51, .5);
	border-radius: 10px;


}