#painting{
	height: 420px;
	width: 800px;
	background-color: #fff4db;
	margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 0px #8d8d8d;
}
.right{
	float: right;
}
#columnone{
	width: 200px;
}
#box1{
	width: 200px;
	height: 200px;
}
#columntwo{
	width: 200px;
}
#columnthree{
	width: 400px;
}
#box2{
	width: 400px;
	height: 400px;
}
p{
	font-size: 20px;
	text-align: center;
	font-variant: bold;
}
body{
	background-color:  #00ffff;
}